@import '@/app/styles/typograpy/typograpy';
@import '@/app/styles/responsive/responsive';

.pokemon-list {
  width: 100%;
  height: 80vh;
  // padding-inline: 32px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #753707;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff4500;
  }

  > .pokemon-list-item-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-inline: 24px;
    cursor: pointer;
    border-radius: 32px;

    > img {
      width: 60px;
      height: 60px;
    }

    > .pokemon-number {
      @include body-s;
    }

    > .pokemon-name {
      @include body-s;
    }

    > .monster-ball-image {
      width: 20px;
      height: 20px;
      margin-left: auto;
    }

    &:hover {
      background-color: #fff;

      > img {
        width: 80px;
        height: 80px;
      }

      > .pokemon-number {
        @include body-l;
      }

      > .pokemon-name {
        @include body-l;
      }

      > .monster-ball-image {
        width: 30px;
        height: 30px;
        margin-left: auto;
      }
    }
  }
}
