@import '@/app/styles/typograpy/typograpy';
@import '@/app/styles/responsive/responsive';

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(68 65 65 / 50%);

  > .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 80px;
    }
  }
}

@include max('sp') {
  .loading-container {
    .content-wrapper {
      > img {
        width: 80px;
      }
    }
  }
}
