@import '@/app/styles/typograpy/typograpy';
@import '@/app/styles/responsive/responsive';

.pokemon-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: var(--background-primary);

  > .pokemon-content-container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: calc(100vh - 80px);

    > .pokemon-detail-wrapper {
      background: linear-gradient(135deg, #ffcccb 0%, #fff 50%, #add8e6 100%);
    }

    > .pokemon-list-wrapper {
      display: flex;
      align-items: center;
      padding: 32px 80px;
      background: linear-gradient(135deg, #ff4500 30%, #ffa500 100%);
    }
  }
}
