:root {
  --primary-black: #23221f;

  // text
  --text-primary: #23221f;
  --text-white: #fff;
  --text-gray: #9f9f9f;

  // background
  --background-primary: #f4f8f9;
  --background-white: #fff;

  // ## separate
  --separate-primary: #dadada;
  --separate-secondary: #76b38d;
  --separate-tertiary: #339d5c;
}
